# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
cv/.gitignore
cv/anschreiben-consust.pdf
cv/anschreiben-consust.tex
cv/anschreiben-ict.pdf
cv/anschreiben-ict.tex
cv/anschreiben-nitrado.pdf
cv/anschreiben-nitrado.tex
cv/anschreiben-ox.pdf
cv/anschreiben-ox.tex
cv/anschreiben-sofi.pdf
cv/anschreiben-sofi.tex
cv/anschreiben.pdf
cv/anschreiben.tex
cv/coverletter-roofline.pdf
cv/coverletter-roofline.tex
cv/cv-consust-de.pdf
cv/cv-consust-de.tex
cv/cv-nitrado-de.pdf
cv/cv-nitrado-de.tex
cv/cv-nitrado-devops-de.pdf
cv/cv-nitrado-devops-de.tex
cv/cv-onepager-de.pdf
cv/cv-onepager-de.tex
cv/cv-onepager.pdf
cv/cv-onepager.tex
cv/cv-sofi-de.pdf
cv/cv-sofi-de.tex
cv/cv.pdf
cv/cv.tex
cv/JOB-SEARCH-STATUS.md
cv/nachricht-app-innovators.md
cv/nachricht-nitrado-devops-reply.md
cv/photo.jpg
cv/rajput-onepager-de.pdf
cv/coverletter-matomo.pdf
cv/coverletter-matomo.tex
